<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DDTestStaticLibrary</key>
	<dict>
		<key>components</key>
		<array>
			<dict>
				<key>index</key>
				<integer>0</integer>
				<key>tag</key>
				<string>A</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>tag</key>
				<string>B</string>
			</dict>
		</array>
		<key>module_id</key>
		<integer>4</integer>
		<key>module_name</key>
		<string>DDTestStaticLibrary</string>
	</dict>
</dict>
</plist>
